{% load i18n %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="/static/images/agreement.png">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/874f255364.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  {% block custom_head %}
  {% endblock %}
</head>

<body>
  <!-- header start -->
  <header class="header" id="header">
    <div class="containerr">
      <div class="header-main">
        <div class="logo">
          <a href="/"><i class="fa-solid fa-handshake"></i></a>
        </div>
        <div class="open-nav-menu">
          <span></span>
        </div>
        <div class="menu-overlay">
        </div>
        <!-- navigation menu start -->
        <nav class="nav-menu">
          <div class="close-nav-menu">
            <i class="fa-solid fa-xmark"></i>
          </div>
          <ul class="menu">
            <li class="menu-item menu-item-has-children">
              <a href="#ourprodsec" data-toggle="sub-menu">{% trans 'service' %}<i class="plus"></i></a>
              <ul class="sub-menu" style="width:280px">
                <li class="menu-item"><a href="{% url 'for_structures' %}">{% trans 'housing1' %}</a></li>
                <li class="menu-item"><a href="{% url 'for_instruments' %}">{% trans 'housing3' %}</a></li>
                <li class="menu-item"><a href="{% url 'for_buildings' %}">{% trans 'housing2' %}</a></li>
                <li class="menu-item"><a href="{% url 'for_land' %}">{% trans 'housing' %}</a></li>
                <li class="menu-item"><a href="{% url 'for_housing' %}">{% trans 'forHome' %}</a></li>
                <li class="menu-item"><a href="{% url 'for_taxi' %}">{% trans 'forTaxi' %}</a></li>
                <li class="menu-item"><a href="{% url 'for_get_car' %}">{% trans 'buyCar' %}</a></li>
                <li class="menu-item"><a href="{% url 'for_agricultural_machinery' %}">{% trans 'forTech' %}</a>
                <li class="menu-item"><a href="{% url 'for_students' %}">{% trans 'forStudents' %}</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="{% url 'entities' %}">{% trans 'Yuridik shaxslar' %}</a>
            </li>
            <li class="menu-item">
              <a href="{% url 'individuals' %}">{% trans 'Jismoniy shaxslar' %}</a>
            </li>
            <li class="menu-item">
              <a href="{% url 'contact' %}">{% trans 'Aloqa' %}</a>
            </li>
            <li class="menu-item">
              <a type="button" href="{% url 'registration' %}">{% trans "Ro'yhatdan o'tish" %}</a>
            </li>
            <li class="menu-item">
                <a type="button" href="{% url 'set_language' 'uz' %}">Uz</a>
            <li class="menu-item">
                <a type="button" href="{% url 'set_language' 'ru' %}">Ru</a>
            </li>
          </ul>
        </nav>
        <!-- navigation menu end -->
      </div>
    </div>
  </header>
  <!-- header end -->

  {% block content %}
  {% endblock %}

  <!-- Zayafka Modal start-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% trans 'Arizangizni qoldiring' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="app-nav">
            <div class="app-text__content1">
              <p>{% trans 'Jismoniy shaxslar' %}</p>
            </div>
            <div class="app-text__content2">
              <p>{% trans 'Yuridik shaxslar' %}</p>
            </div>
          </div>
          <div class="application__content1">
            <!-- Jismoniy shaxslar uchun form -->
            <form id="physical_form" action="/request/individual" method="POST">
              {% csrf_token %}
              <label id="name_label" for="fio">{% trans 'name' %}</label><br>
              <input name="full_name" id="name_input" type="text" required maxlength="255"><br>
              <label id="date_label" for="birthday">{% trans 'birthday' %}</label><br>
              <input name="birth_day" id="date_input" type="date" required maxlength="255"><br>
              <label id="region_label" for="region">{% trans 'viloyat' %}</label><br>
              <select name="region" id="region_select">
                <option value="Xorazm">{% trans 'xorazm' %}</option>
                <option value="Buxoro">{% trans 'buxoro' %}</option>
                <option value="Farg'ona">{% trans 'far' %}</option>
                <option value="Jizzax">{% trans 'jiz' %}</option>
                <option value="Andijon">{% trans 'and' %}</option>
                <option value="Namangan">{% trans 'nam' %}</option>
                <option value="Navoiy">{% trans 'nav' %}</option>
                <option value="Qashqadaryo">{% trans 'qas' %}</option>
                <option value="Qoraqalpog'iston Respublikasi">{% trans 'qor' %}</option>
                <option value="Samarqand">{% trans 'sam' %}</option>
                <option value="Sirdarydo">{% trans 'sir' %}</option>
                <option value="Surxondaryo">{% trans 'sur' %}</option>
                <option value="Toshkent">{% trans 'tosh' %}</option>
                <option value="Toshkent">{% trans 'tosh1' %}</option>
              </select><br>
              <label id="city_label" for="city">{% trans 'districtorcity' %}</label><br>
              <input name="city" id="city_input" type="text" required maxlength="255"><br>
              <label id="street_label" for="street_label">{% trans 'street' %}</label><br>
              <input name="street" id="street_input" type="text" required maxlength="255"><br>
              <label id="number_label" for="street_number">{% trans 'numberOfHome' %}</label><br>
              <input name="street_number" id="number_input" type="text" required><br>

              <label id="qarz_label" for="qarz_input" >{% trans 'qarzmiqdori' %}</label><br>
              <input id="qarz_input" name="debt_value" type="text" required maxlength="20"><br>
              <label id="srok_label" for="srok_input">{% trans 'muddati' %}</label><br>
              <input id="srok_input" name="term" type="number" placeholder="{% trans 'qarzniqaytarish' %}" required><br>
              <label id="tel_label" for="tel_input">{% trans 'telnomer' %}</label><br>
              <input id="tel_input" name="phone_number" type="text" placeholder="+998991234567" maxlength="255" required><br>
              <label id="ish_label" for="ish_input">{% trans 'ishorni' %}</label><br>
              <input id="ish_input" name="created_workplace" type="number" maxlength="255" placeholder="{% trans 'forinter' %}"><br>
              <label id="murojat_label" for="murojat_input">{% trans 'murojat' %}</label><br>
              <textarea name="proposition" id="murojat_input" cols="50" rows="8" maxlength="255" placeholder="{% trans 'qarzmaqsadi' %}"></textarea required><br>

              <label id="key_label" for="key_number">{% trans 'keynumber' %}</label><br>
              <input name="key" id="key_input" type="text" placeholder="{% trans 'enterkey' %}">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'chiqish' %}</button>
                <button type="submit" class="btn btn-primary">{% trans 'apply' %}</button>
              </div>

            </form>
          </div>
          <div class="application__content2">
            <!-- Yuridik shaxslar uchun -->
            <form id="physical_form" action="/request/entity" method="POST">
              {% csrf_token %}
              <label id="name_label" for="fio">{% trans 'companyName' %}</label><br>
              <input name="company_name" id="name_input" type="text" required maxlength="255"><br>
              <label id="name_label" for="fio">{% trans 'yuridikadres' %}</label><br>
              <input name="address" id="name_input" type="text" required maxlength="255"><br>
              <label id="name_label" for="fio">{% trans 'mfo' %}</label><br>
              <input name="MFO" id="name_input" type="text" required maxlength="255"><br>
              <label id="name_label" for="fio">{% trans 'inn' %}</label><br>
              <input name="INN" id="name_input" type="text" required maxlength="255"><br>
              <label id="street_label" for="street_label">{% trans 'telnomer' %}</label><br>
              <input name="phone_number" id="street_input" type="number" required maxlength="255" placeholder="+998991234567"><br>
              <label id="number_label" for="street_number">{% trans 'hisobraqam' %}</label><br>
              <input name="account_number" id="number_input" type="number" required maxlength="255"><br>

              <label id="qarz_label" for="qarz_input" >{% trans 'qarzmiqdori' %}</label><br>
              <input id="qarz_input" name="debt_value" type="text" placeholder="1 000 000 000" required maxlength="20"><br>
              <label id="srok_label" for="srok_input">{% trans 'muddati' %}</label><br>
              <input id="srok_input" name="term" type="number" placeholder="{% trans 'qarzniqaytarish' %}" required><br>
              <label id="ish_label" for="ish_input">{% trans 'ishorni' %}</label><br>
              <input id="ish_input" name="created_workplace" type="number" maxlength="255" placeholder="{% trans 'forinter' %}"><br>
              <label id="murojat_label" for="murojat_input">{% trans 'murojat' %}</label><br>
              <textarea name="proposition" id="murojat_input" cols="50" rows="8" required maxlength="255" placeholder="{% trans 'qarzmaqsadi' %}"></textarea><br>

              <label id="key_label" for="key_number">{% trans 'keynumber' %}</label><br>
              <input name="key" id="key_input" type="text" maxlength="255" placeholder="{% trans 'enterkey' %}">

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'chiqish' %}</button>
                <button type="submit" class="btn btn-primary">{% trans 'apply' %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Zayafka Modal start-->

  <!-- Footer start -->
  <footer>
    <div class="containerr">
      <div class="footer-nav">
        <div class="footer-nav__block1">
          <a href="#ourprodsec" class="main-link">{% trans 'service' %}</a>
          <ul>
            <li><a href="{% url 'for_structures' %}">{% trans 'housing1' %}</a></li>
            <li><a href="{% url 'for_instruments' %}">{% trans 'housing3' %}</a></li>
            <li><a href="{% url 'for_buildings' %}">{% trans 'housing2' %}</a></li>
            <li><a href="{% url 'for_land' %}">{% trans 'housing' %}</a></li>
            <li><a href="{% url 'for_housing' %}">{% trans 'forHome' %}</a></li>
            <li><a href="{% url 'for_taxi' %}">{% trans 'forTaxi' %}</a></li>
            <li><a href="{% url 'for_get_car' %}">{% trans 'buyCar' %}</a></li>
            <li><a href="{% url 'for_agricultural_machinery' %}">{% trans 'forTech' %}</a>
            <li><a href="{% url 'for_students' %}">{% trans 'forStudents' %}</a>
          </ul>
        </div>
        <div class="footer-nav__block2">
          <a href="{% url 'individuals' %}" class="main-link">{% trans 'Yuridik shaxslar' %}</a>
          <a href="{% url 'entities' %}" class="main-link">{% trans 'Jismoniy shaxslar' %}</a>
          <a href="{% url 'contact' %}" class="main-link">{% trans 'Aloqa' %}</a>
          <div class="footer-nav_block3">
            <h6>{% trans 'socialnet' %}</h6>
            <a href="https://www.youtube.com/channel/UCi9O23uJpsG3uZEFqn2FDUQ"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://t.me/beruniy_avlodlari"><i class="fa-brands fa-telegram"></i></a>
            <a href="https://www.instagram.com/beruniy_avlodlari"><i class="fa-brands fa-instagram-square"></i></a>
          </div>
        </div>
        <div class="footer-call">
          <h4>{% trans 'beruniy' %}</h4>
          <div class="logo-footer">
            <a href="/"><i class="fa-solid fa-handshake"></i> {% trans 'UXB' %}</a>
          </div>
          <p>{% trans 'savollar' %}</p>
          <a href="tel: +998900900174" type="phone"><i class="fa-solid fa-phone"> +998900900174</i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end -->


  <!-- bootsrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <!-- swipper js start-->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <!-- swipper js end -->
  <script src="/static/js/script.js"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      effect: "fade",
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
</body>

</html>
