{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!-- Aloqa section start -->
<section class="aloqaSec">
  <div class="containerr">
    <h1 class="contact-text" style="margin-top: 80px;">{% trans 'boglanish'%}</h1>
    <div class="grid-container">
      <div class="grid-item">
        <p class="address">{% trans 'manzil'%}</p>
        <span class="address-text">Q{% trans 'ouraddress'%}</span>
        <a href="https://www.google.com/maps/place/%D0%91%D0%B5%D1%80%D1%83%D0%BD%D0%B8,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.6812546,60.6856844,12z/data=!3m1!4b1!4m13!1m7!3m6!1s0x41e0d6bcdff97751:0xa2ef5200d3099206!2z0JHQtdGA0YPQvdC40LnRgdC60LjQuSDRgNCw0LnQvtC9LCDQo9C30LHQtdC60LjRgdGC0LDQvQ!3b1!8m2!3d42.5625699!4d61.1247548!3m4!1s0x41dfd497a70a1527:0xdd439e3fd9f34b09!8m2!3d41.6752198!4d60.7598877" target="_blank">{% trans 'xarita'%}</a>
      </div>
      <div class="grid-item">
        <p class="address">{% trans 'workplan'%}</p>
        <span>{% trans 'ishsoati'%}</span><br>
        <span>{% trans 'yakshanba'%}</span>
      </div>
      <div class="grid-item">
        <p class="address">{% trans 'tel'%}</p>
        <a href="tel:+998900900174">+998 90 090 01 74</a>
      </div>
      <div class="grid-item">
        <p class="address">E-MAIL</p>
        <a href="https://mail.google.com/mail/u/0/#inbox">info@UXB.ru</a>
        <span>{% trans 'adres' %}</span>
        <a href="https://www.google.com/maps/place/%D0%91%D0%B5%D1%80%D1%83%D0%BD%D0%B8,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.6812546,60.6856844,12z/data=!3m1!4b1!4m13!1m7!3m6!1s0x41e0d6bcdff97751:0xa2ef5200d3099206!2z0JHQtdGA0YPQvdC40LnRgdC60LjQuSDRgNCw0LnQvtC9LCDQo9C30LHQtdC60LjRgdGC0LDQvQ!3b1!8m2!3d42.5625699!4d61.1247548!3m4!1s0x41dfd497a70a1527:0xdd439e3fd9f34b09!8m2!3d41.6752198!4d60.7598877" target="_blank">{% trans 'xarita' %}</a>
      </div>
    </div>
  </div>
</section>
<!-- Aloqa section end -->

<!-- images section start -->
<h1 class="contact-text">{% trans 'ofis' %}</h1>
<section class="img_section">
  <div class="img__content">
    <img src="/static/images/office1.jpg" alt="">
    <img src="/static/images/office2.jpg" alt="">
    <img src="/static/images/office3.jpg" alt="">
  </div>
</section>
<!-- images section end -->
<style>
  .img_section{
    background: #FFFFFF;
  }
  .img__content{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    padding: 2rem;
    margin: auto;
  }
  .img__content img{
    width: 350px;
    height: 250px;
    object-fit: cover;
  }
  @media only screen and (max-width: 1230px){
    .img__content{
      max-width: 100%;
    }
  }
  @media only screen and (max-width: 992px){
    .img__content{
      max-width: 100%;
    }
    .img__content img{
      width: 250px;
      height: 200px;
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 1230px){
    .img_section{
      margin: auto;
    }
  }
</style>
<!-- Maps section start -->
<section class="mapsSec">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2979.4100272862183!2d60.73971711450085!3d41.69008338513977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41dfd4afe83d4e39%3A0x488112b8d5343d7a!2sBeruniy%20Tumani%20Khokimligi!5e0!3m2!1sen!2s!4v1657067626622!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<!-- Maps section end -->
{% endblock %}
