{% extends 'base.html' %}

{% block title %}
Yuridik shaxslar
{% endblock %}

{% block content %}
    <!-- Head content start -->
    <section class="head-content">
      <div class="head-container containerr">
        <div class="head-content_text">
          <h1>YURIDIK SHAXSLAR UCHUN QULAY SHARTLARDA ONLINE <span class="kredit_oling">QARZ OLING</span></h1>
          <div class="char-block">
            <p class="char">
              <span>Taklif</span> <br>
              <font>0%(foizsiz)</font>
            </p>
            <p class="char">
              <span>Pul</span> <br>
              <font>2 milliard so'mgacha</font>
            </p>
          </div>
          <button type="button" class="but btn btn-primary" data-btn="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <font>Qarz olish</font>
          </button>
        </div>
        <img class="head-img" src="/static/images/xizmatlar-images/head-bus4.png" alt="headimage">
      </div>
    </section>
  <!-- Head content end -->  
{% endblock %}
