{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Yuridik shaxslar
{% endblock %}

{% block content %}
    <!-- Head content start -->
    <section class="head-content">
      <div style="padding-top: 100px" class="head-container containerr">
        <div class="head-content_text">
          <h1>{% trans 'online'%} <span class="kredit_oling"></span></h1>
          <div class="char-block">
            <p class="char">
              <span>{% trans 'offer'%}</span> <br>
              <font>0%{% trans 'foizsiz'%}</font>
            </p>
            <p class="char">
              <span>{% trans 'money'%}</span> <br>
              <font>{% trans 'upTo2mlrd'%}</font>
            </p>
          </div>
          <button type="button" class="but btn btn-primary" data-btn="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <font>{% trans 'apply'%}</font>
          </button>
        </div>
        <img class="head-img" src="/static/images/xizmatlar-images/head-bus4.png" alt="headimage">
      </div>
    </section>
  <!-- Head content end -->  
{% endblock %}
