{% extends 'base.html' %}

{% block title %}
Yakka tartibdagi tadbirkorga imoratlar qurilishi uchun
{% endblock %}

{% block content %}
<!-- Head content start -->
<section class="buildingSec">
  <div class="containerr">
    <div class="buil__content">
      <div class="buil__head">
        <p class="build__title">Yakka tartibdagi tadbirkorlik faoliyatini amalga oshirish maqsadida imorat va inshotlar qurilishi uchun 100 000 000 (yuz million) so'mdan 1 000 000 000 (bir milliard) so'mgacha <span style="color: #0069db">5 yildan - 10 yilgacha </span>qarz oling</p>
        <div class="char-block__build">
          <p class="char__build">
            <span>Taklif</span><br>
            <font>0%(foizsiz)</font>
          </p>
          <p class="char__build">
            <span>Pul</span><br>
            <font>1 milliard so'mgacha</font>
          </p>
        </div>
        <button type="button" data-btn="" class="buildBtn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Qarz olish</button>
      </div>
      <img class="buildimg" src="/static/images/xizmatlar-images/head-bus1.png">
    </div>
  </div>
</section>
<!-- Head content end -->
{% endblock %}

{% include 'our_product_section.html' %}
