{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Taxi faoliyati
{% endblock %}

{% block content %}
<section class="buildingSec">
  <div class="containerr">
    <div class="buil__content">
      <div class="buil__head">
        <p class="build__title">{% trans 'taxi' %}</p>
        <div class="char-block__build">
          <p class="char__build">
            <span>{% trans 'offer' %}</span><br>
            <font>0%{% trans 'foizsiz' %}</font>
          </p>
          <p class="char__build">
            <span>{% trans 'money' %}</span><br>
            <font>{% trans 'upTo1bil' %}</font>
          </p>
        </div>
        <button type="button" data-btn="" class="buildBtn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">{% trans 'apply' %}</button>
      </div>
      <img class="buildimg" src="/static/images/xizmatlar-images/taxi.jpg" width="500px">
    </div>
  </div>
</section>

{% include 'our_product_section.html' %}

{% endblock %}