{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Universal Xizmatlar Byurosi
{% endblock %}

{% block content %}
<!-- Text animation start -->
<section class="text__animation" >
  <div class="containerr">
    <marquee style="margin: 80px 0 0 0;" behavior="scroll" direction="left">{% trans 'ogohlantirish' %}</marquee>
  </div>
</section>
<!-- Text animation end -->

<!-- Head content start -->
<section class="head-content">
  <div class="head-container containerr">
    <div class="head-content_text">
      <p style="text-transform: uppercase; color: #00b1df; font-weight: 700;">{% trans 'mainText' %}</p>
      <h1 class="hc__text" style="font-size: 20px;">{% trans 'aimOfProject' %}</h1>
      <div class="char-block">
        <p class="char">
          <span>{% trans 'offer' %}</span> <br>
          <font>0%{% trans 'foizsiz' %}</font>
        </p>
        <p class="char">
          <span>{% trans 'money' %}</span> <br>
          <font>{% trans 'upTo1bil' %}</font>
        </p>
      </div>
      <button type="button" class="but btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        data-btn="">
        <font>{% trans 'apply' %}</font>
      </button>
    </div>
    <img class="head-img" src="/static/images/logo-beruniy2.png" alt="headimage">
  </div>
</section>
<!-- Head content end -->

{% include 'our_product_section.html' %}

<!-- slick slide start -->
<section class="slick_slide">
  <div class="containerr">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="ekspert">
            <h4 class="headline__ekspert">{% trans 'forHousing' %}</h4>
            <p class="p__ekspert">{% trans 'termsOfCooperation5' %}</p>
            <div class="char-block__ekspert">
              <p class="char__eks">
                <span>{% trans 'offer' %}</span><br>
                <font>0%{% trans 'foizsiz' %}</font>
              </p>
              <p class="char__eks">
                <span>{% trans 'money' %}</span><br>
                <font>{% trans 'upTo1bil' %}</font>
              </p>
            </div>
            <button data-btn="" type="button" class="ekspert-btn btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal">{% trans 'apply' %}</button>
          </div>
          <img src="/static/images/xizmatlar-images/img1.png" />
        </div>
        <div class="swiper-slide">
          <div class="ekspert">
            <h4 class="headline__ekspert">{% trans 'forHousing' %}</h4>
            <p class="p__ekspert">{% trans 'termsOfCooperation5' %}</p>
            <div class="char-block__ekspert">
              <p class="char__eks">
                <span>{% trans 'offer' %}</span><br>
                <font>0%{% trans 'foizsiz' %}</font>
              </p>
              <p class="char__eks">
                <span>{% trans 'money' %}</span><br>
                <font>{% trans 'upTo1bil' %}</font>
              </p>
            </div>
            <button type="button" data-btn="" class="ekspert-btn btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal">{% trans 'apply' %}</button>
          </div>
          <img src="/static/images/xizmatlar-images/img2.png" />
        </div>
        <div class="swiper-slide">
          <div class="ekspert">
            <h4 class="headline__ekspert">{% trans 'forHousing1' %}</h4>
            <p class="p__ekspert">{% trans 'termsOfCooperation5' %}</p>
            <div class="char-block__ekspert">
              <p class="char__eks">
                <span>{% trans 'offer' %}</span><br>
                <font>0%{% trans 'foizsiz' %}</font>
              </p>
              <p class="char__eks">
                <span>{% trans 'money' %}</span><br>
                <font>{% trans 'upTo1bil' %}</font>
              </p>
            </div>
            <button type="button" data-btn="" class="ekspert-btn btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal">{% trans 'apply' %}</button>
          </div>
          <img src="/static/images/xizmatlar-images/img3.png" />
        </div>
        <div class="swiper-slide">
          <div class="ekspert">
            <h4 class="headline__ekspert">{% trans 'forHome' %}</h4>
            <p class="p__ekspert">{% trans 'termsOfCooperation5' %}</p>
            <div class="char-block__ekspert">
              <p class="char__eks">
                <span>{% trans 'offer' %}</span><br>
                <font>0%{% trans 'foizsiz' %}</font>
              </p>
              <p class="char__eks">
                <span>{% trans 'money' %}</span><br>
                <font>{% trans 'upTo400mln' %}</font>
              </p>
            </div>
            <button type="button" data-btn="" class="ekspert-btn btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal">{% trans 'apply' %}</button>
          </div>
          <img src="/static/images/xizmatlar-images/img4.png" />
        </div>
        <div class="swiper-slide">
          <div class="ekspert">
            <h4 class="headline__ekspert">{% trans 'forBuyCar' %}</h4>
            <p class="p__ekspert">{% trans 'termsOfCooperation5' %}</p>
            <div class="char-block__ekspert">
              <p class="char__eks">
                <span>{% trans 'offer' %}</span><br>
                <font>0%{% trans 'foizsiz' %}</font>
              </p>
              <p class="char__eks">
                <span>{% trans 'money' %}</span><br>
                <font>{% trans 'upTo200mln' %}</font>
              </p>
            </div>
            <button type="button" data-btn="" class="ekspert-btn btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal">{% trans 'apply' %}</button>
          </div>
          <img src="/static/images/xizmatlar-images/img5.png" />
        </div>
        <div class="swiper-slide">
          <div class="ekspert">
            <h4 class="headline__ekspert">{% trans 'forTaxiActivity' %}</h4>
            <p class="p__ekspert">{% trans 'termsOfCooperation5' %}</p>
            <div class="char-block__ekspert">
              <p class="char__eks">
                <span>{% trans 'offer' %}</span><br>
                <font>0%{% trans 'foizsiz' %}</font>
              </p>
              <p class="char__eks">
                <span>{% trans 'money' %}</span><br>
                <font>{% trans 'upTo1bil' %}</font>
              </p>
            </div>
            <button type="button" data-btn="" class="ekspert-btn btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal">{% trans 'apply' %}</button>
          </div>
          <img src="/static/images/xizmatlar-images/img6.png" />
        </div>
      </div>
      <div class="swiper-button-next nextBtn"><i class="fa-solid fa-arrow-right"></i></div>
      <div class="swiper-button-prev prevBtn"><i class="fa-solid fa-arrow-left"></i></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- slick slide end -->

{% if request_success %}
<script>
  alert('Ariza qabul qilindi!');
  window.location.href = '/';
</script>
{% endif %}

{% if key_error %}
<script>
  alert('Kalit noto`gri!');
  window.location.href = '/';
</script>
{% endif %}
<!-- Section padTop start -->
<section class="padtop">
  <div class="containerr">
    <h4 class="padtop__head">{% trans 'termsOfCooperation' %}</h4>
    <div class="uslov">
      <div class="uslov_item">
        <div class="sy">
          <img src="/static/images/it.svg" alt="uslovItem">
          <p>01</p>
        </div>
        <p>{% trans 'termsOfCooperation1' %}</p>
      </div>
      <div class="uslov_item">
        <div class="sy">
          <img src="/static/images/it.svg" alt="uslovItem">
          <p>02</p>
        </div>
        <p>{% trans 'termsOfCooperation2' %}</p>
      </div>
      <div class="uslov_item">
        <div class="sy">
          <img src="/static/images/it.svg" alt="uslovItem">
          <p>03</p>
        </div>
        <p>{% trans 'termsOfCooperation3' %}</p>
      </div>
      <div class="uslov_item">
        <div class="sy">
          <img src="/static/images/it.svg" alt="uslovItem">
          <p>04</p>
        </div>
        <p>{% trans 'termsOfCooperation4' %}</p>
      </div>
      <div class="uslov_item">
        <div class="sy">
          <img src="/static/images/it.svg" alt="uslovItem">
          <p>05</p>
        </div>
        <p>{% trans 'termsOfCooperation5' %}</p>
      </div>
      <div class="uslov_item">
        <div class="sy">
          <img src="/static/images/it.svg" alt="uslovItem">
          <p>06</p>
        </div>
        <p>{% trans 'termsOfCooperation6' %}</p>
      </div>
    </div>
  </div>
</section>
<!-- Section padTop end -->

<!-- difficult situation section start -->
<section class="difficult_sit">
  <div class="containerr">
    <h3 class="diff__head">{% trans 'cooperation' %}</h3>
    <div class="mini-ban">
      <div class="mini-ban_item1">
        <img src="/static/images/sit-icon1.svg" alt="siticon">
        <p class="diff__pf">{% trans 'turnDownBanks' %}</p>
      </div>
      <div class="mini-ban_item2">
        <img src="/static/images/sit-icon2.svg" alt="siticon">
        <p class="diff__pf">{% trans 'badHistory' %}</p>
      </div>
      <div class="mini-ban_item3">
        <img src="/static/images/sit-icon3.svg" alt="siticon">
        <p class="diff__pf">{% trans 'inexperienced' %}</p>
      </div>
      <div class="mini-ban_item4">
        <img src="/static/images/sit-icon4.svg" alt="siticon">
        <p class="diff__pf">{% trans 'noFormalWork' %}</p>
      </div>
    </div>
  </div>
</section>
<!-- difficult situation section end -->

<!-- work section start -->
<section class="work_sec">
  <div class="containerr">
    <h4 class="work_head">{% trans 'howWeWork' %}</h4>
    <div class="work">
      <div class="work_sec-item">
        <img src="/static/images/hov1.jpg" alt="howSecImg">
        <div class="w__header">
          <h5>{% trans 'notification' %}</h5>
          <p>{% trans 'howWeWork1' %}</p>
        </div>
      </div>
      <div class="work_sec-item">
        <img src="/static/images/hov3.jpg" alt="howSecImg" style="width:100%; height:320px">
        <div class="w__header">
          <h5>{% trans 'confirmation'%}</h5>
          <p>{% trans 'howWeWork2'%}</p>
        </div>
      </div>
      <div class="work_sec-item">
        <img src="/static/images/hov2.jpg" style="object-fit: cover; width: 100%; height: 300px;" alt="howSecImg">
        <div class="w__header">
          <h5>Xizmat</h5>
          <p>{% trans 'howWeWork3'%}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- work section end -->

<!-- quest section start -->
<section class="quest_section">
  <div class="containerr">
    <div class="quest">
      <h3 class="quest__head">{% trans 'unXizByu' %}</h3>
      <ul>
        <li>{% trans 'text120' %}</li>
        <li>{% trans 'text121' %}</li>
        <li>{% trans "text122" %}</li>
        <li>{% trans "text123"%}</li>
      </ul>
      <p class="quest__p">{% trans 'text124' %}</p>
      <button type="button" data-btn="" class="questBtn btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#exampleModal">{% trans 'apply' %}</button>
    </div>
  </div>
</section>
<!-- quest section end -->
<section class="certifi">
  <h3 class="s__title">{% trans 'serti' %}</h3>
  <div class="containerr__ser">
    <a href="/static/images/ГУВОХНОМА_ТАЙЁР_ЭЛЕКТРОННҚЙ_ВАРИАНТ.pdf" target="_blank"><img class="ser__img" src="/static/images/ser1.jpg" alt=""></a>
    <a href="/static/images/СЕРТИФИКАТ ОРДЕНА.pdf" target="_blank"><img class="ser__img" src="/static/images/ser2.jpg" alt=""></a>
  </div>
</section>
<style>
  .certifi{
    background-color: #FFFFFF;
  }
  .containerr__ser{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    gap: 1rem;
    padding: 1rem 0;
  }
  .ser__img{
    width: 500px;
    object-fit: cover;
  }
  .s__title{
    text-align: center;
    padding: 20px 10px;
  }
  @media only screen and (max-width: 567px){
    .certifi{
      background-color: #FFFFFF;
      margin: auto;
      padding: 0;
    }
    .containerr__ser{
      width: 90%;
      margin: auto;
    }
    .ser__img{
      width: 350px;
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 400px){
    .ser__img{
      width: 320px;
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 280px){
    .ser__img{
      width: 250px;
      object-fit: cover;
    }
  }
</style>
<!-- Maps section start -->
<section class="mapsSec">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2979.4100272862183!2d60.73971711450085!3d41.69008338513977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41dfd4afe83d4e39%3A0x488112b8d5343d7a!2sBeruniy%20Tumani%20Khokimligi!5e0!3m2!1sen!2s!4v1657067626622!5m2!1sen!2s"
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<!-- Maps section end -->
{% endblock %}
