{% load i18n %}

<!-- Our prod section start -->
<section class="our-prod-section" id="ourprodsec">
  <div class="containerr">
    <h2 class="headline">{% trans 'takeOpportunity' %}</h2>
    <p class="sub__hidline">{% trans 'text3' %}</p>
    <div class="our-prod">
      <div class="our-prod_it">
        <a href="{% url 'for_land' %}">
          <img src="/static/images/xizmatlar-images/prod1.jpg" alt="ourprod1">
        </a>
        <div class="prod_it-desc">
          <p class="tags">{% trans 'biznes' %}</p>
          <p class="prod-name">{% trans 'forHousing' %}</p>
          <a href="{% url 'for_land' %}"><span class="mores">{% trans 'koproq' %}</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_structures' %}">
          <img src="/static/images/xizmatlar-images/prod2.jpg" alt="ourprod2">
        </a>
        <div class="prod_it-desc">
          <p class="tags">{% trans 'persons' %}</p>
          <p class="prod-name">{% trans 'forHousing1' %}</p><br/>
          <a href="{% url 'for_structures' %}"><span class="mores">{% trans 'koproq' %}</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_buildings' %}">
          <img src="/static/images/xizmatlar-images/zalog1.jpg" alt="ourprod2">
        </a>
        <div class="prod_it-desc">
          <p class="tags">{% trans 'persons' %}</p>
          <p class="prod-name">{% trans 'forHousing2' %}</p><br/>
          <a href="{% url 'for_buildings' %}"><span class="mores">{% trans 'koproq' %}</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <!-- <div class="our-prod_it">
        <a href="{% url 'for_structures' %}">
          <img src="/static/images/xizmatlar-images/prod3.jpg" alt="ourprod3">
        </a>
        <div class="prod_it-desc">
          <p class="tags">SHAXSLAR</p>
          <p class="prod-name">Yakka tartibdagi imorat qurilishi uchun</p>
          <a href="{% url 'for_structures' %}"><span class="mores">Ko'proq</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div> -->
      <div class="our-prod_it">
        <a href="{% url 'for_instruments' %}">
          <img src="/static/images/xizmatlar-images/prod4.jpg" alt="ourprod4">
        </a>
        <div class="prod_it-desc">
          <p class="tags">{% trans 'persons' %}</p>
          <p class="prod-name">{% trans 'housing3' %}</p>
          <a href="{% url 'for_instruments' %}"><span class="mores">{% trans 'koproq' %}</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_taxi' %}">
          <img src="/static/images/xizmatlar-images/prod5.jpg" alt="ourprod5">
        </a>
        <div class="prod_it-desc">
          <p class="tags">{% trans 'persons' %}</p>
          <p class="prod-name">{% trans 'forTaxiActivity' %}</p>
          <a href="{% url 'for_taxi' %}"><span class="mores">{% trans 'koproq' %}</span><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_get_car' %}">
          <img src="/static/images/xizmatlar-images/prod6.jpg" alt="ourprod6"></a>
        <div class="prod_it-desc">
          <p class="tags">{% trans 'persons' %}</p>
          <p class="prod-name">{% trans 'forBuyCar' %}</p><br/>
          <a href="{% url 'for_get_car' %}"><span class="mores">{% trans 'koproq' %}</span><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_agricultural_machinery' %}">
          <img src="/static/images/xizmatlar-images/prod7.jpg" alt="ourprod7">
        </a>
        <div class="prod_it-desc">
          <p class="tags">{% trans 'persons' %}</p>
          <p class="prod-name"  style="font-size:16px;">{% trans 'forTech' %}</p>
          <a href="{% url 'for_agricultural_machinery' %}"><span class="mores">{% trans 'koproq' %}</span><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_housing' %}">
          <img src="/static/images/xizmatlar-images/zalog4.jpg" alt="ourprod8" style="height:215px">
        </a>
        <div class="prod_it-desc">
          <p class="tags">{% trans 'persons' %}</p>
          <p class="prod-name">{% trans 'forHome' %}</p><br/>
          <a href="{% url 'for_housing' %}"><span class="mores">{% trans 'koproq' %}</span><i
            class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_students' %}">
          <img src="/static/images/xizmatlar-images/head-bus3.png" alt="ourprod8" style="width:230px;">
        </a>
        <div class="prod_it-desc">
          <p class="tags">{% trans 'persons' %}</p>
          <p class="prod-name">{% trans 'forStudents' %}</p><br/>
          <a href="{% url 'for_students' %}"><span class="mores">{% trans 'koproq' %}</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our prod section end -->