<!-- Our prod section start -->
<section class="our-prod-section" id="ourprodsec">
  <div class="containerr">
    <h2 class="headline">MAQSADLARINGIZNI AMALGA OSHIRISH UCHUN QARZ OLING</h2>
    <div class="our-prod">
      <div class="our-prod_it">
        <a href="{% url 'for_housing' %}">
          <img src="/static/images/xizmatlar-images/prod1.jpg" alt="ourprod1">
        </a>
        <div class="prod_it-desc">
          <p class="tags">BIZNES</p>
          <p class="prod-name">YTT yer uchun</p>
          <a href="{% url 'for_housing' %}"><span class="mores">Ko'proq</span><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_buildings' %}">
          <img src="/static/images/xizmatlar-images/prod2.jpg" alt="ourprod2">
        </a>
        <div class="prod_it-desc">
          <p class="tags">SHAXSLAR</p>
          <p class="prod-name">Bino va inshotlar</p>
          <a href="{% url 'for_buildings' %}"><span class="mores">Ko'proq</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_structures' %}">
          <img src="/static/images/xizmatlar-images/prod3.jpg" alt="ourprod3">
        </a>
        <div class="prod_it-desc">
          <p class="tags">SHAXSLAR</p>
          <p class="prod-name">YTT imoratlar uchun</p>
          <a href="{% url 'for_structures' %}"><span class="mores">Ko'proq</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_instruments' %}">
          <img src="/static/images/xizmatlar-images/prod4.jpg" alt="ourprod4">
        </a>
        <div class="prod_it-desc">
          <p class="tags">SHAXSLAR</p>
          <p class="prod-name">Asbob va uskunalar</p>
          <a href="{% url 'for_instruments' %}"><span class="mores">Ko'proq</span><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_taxi' %}">
          <img src="/static/images/xizmatlar-images/prod5.jpg" alt="ourprod5">
        </a>
        <div class="prod_it-desc">
          <p class="tags">SHAXSLAR</p>
          <p class="prod-name">Taxi faoliyati uchun</p>
          <a href="{% url 'for_taxi' %}"><span class="mores">Ko'proq</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_get_car' %}">
          <img src="/static/images/xizmatlar-images/prod6.jpg" alt="ourprod6">
        </a>
        <div class="prod_it-desc">
          <p class="tags">SHAXSLAR</p>
          <p class="prod-name">Avtomobil olish uchun</p>
          <a href="{% url 'for_get_car' %}"><span class="mores">Ko'proq</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_agricultural_machinery' %}">
          <img src="/static/images/xizmatlar-images/prod7.jpg" alt="ourprod7">
        </a>
        <div class="prod_it-desc">
          <p class="tags">SHAXSLAR</p>
          <p class="prod-name">Qishloq xo'jalik texnikalari</p>
          <a href="{% url 'for_agricultural_machinery' %}"><span class="mores">Ko'proq</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="our-prod_it">
        <a href="{% url 'for_housing' %}">
          <img src="/static/images/xizmatlar-images/prod8.jpg" alt="ourprod8">
        </a>
        <div class="prod_it-desc">
          <p class="tags">SHAXSLAR</p>
          <p class="prod-name">Uy joy uchun</p>
          <a href="{% url 'for_housing' %}"><span class="mores">Ko'proq</span><i
              class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our prod section end -->
