{% load i18n %}

<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/agreement.png">

    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/static/css/login.css">

    <title>{% trans "royhatdanotish" %}</title>
</head>
<body>
    {% if registration_success %}
    <script>
        alert('{% trans "success" %}');
        window.location.href = '/';
    </script>
    {% endif %}

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">{% trans "kirish" %}</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Elektron pochtangizni kiriting" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Parolingizni kiriting" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Kirish">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Ro‘yxatdan o'tmaganmisiz?
                        <a href="#" class="text signup-link">Hozir ro'yxatdan o'ting</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">{% trans 'royhatdanotish' %}</span>
                <br>
                <span style="color: red;">{% trans 'registr' %} {{ payment_value }} {% trans 'som' %}
                </span>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="full_name" placeholder="{% trans 'fullName' %}" required autocomplete="off" minlength="3" maxlength="255">
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input name="phone_number" type="phone" placeholder="{% trans 'telnumber' %}" autocomplete="off" maxlength="255" minlength="9" required>
                        <i class="uil uil-phone icon"></i>
                    </div>
                    {% if form.phone_number.errors %}
                    <span style="color: red;">
                        {% trans 'mavjud' %}
                    </span>
                    {% endif %}

                    <div class="input-field">
                        <input type="password" name="password" class="password" placeholder="{% trans 'createpassword' %}" required autocomplete="off" maxlength="255" minlength="6">
                        <i class="uil uil-lock icon"></i>
                    </div>
                    {% if form.password.errors %}
                    <span style="color: red;">
                        {{ form.password.errors.0 }}
                    </span>
                    {% endif %}

                    <div class="input-field">
                        <input type="password" name="confirm_password" class="password" placeholder="{% trans 'accept' %}" required autocomplete="off" maxlength="255">
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input name="confirmation" type="checkbox" id="termCon">
                            <label for="termCon" class="text"> {% trans 'shartlar' %} <a href="/static/oferta/foydalanish shartlari.pdf"> {% trans 'qabul' %} {% trans 'qildim' %}</label>
                            {% if form.confirmation.errors %}
                            <span style="color: red;">
                                {% trans 'tasdiqlash' %}
                            </span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="{% trans 'royhatdanotish' %}">
                    </div>
                </form>
                <!--
                    <div class="login-signup">
                        <span class="text">Allaqachon ro'yxatdan o'tganmisiz?
                            <a href="#" class="text login-link">Hozir kiring</a>
                        </span>
                    </div>
                -->
            </div>
        </div>
    </div>

    <script src="/static/js/login.js"></script>
    <script>
        signUp.addEventListener("click", () => {
            container.classList.add("active");
        });
        login.addEventListener("click", () => {
            container.classList.remove("active");
        });
    </script>
</body>
</html>
